# Solnova Digital Twin — values are embedded in twin.js for vanilla JS apps
SUPABASE_URL=https://bxewkghaljeucxekwltd.supabase.co
TWIN_URL=https://solnova.app
